// Place all the styles related to the ApplicationKeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.option{
    padding: 3px;
}

@media screen and (max-width: 600px) {
    td.option{
        padding: 3px;display: flex; flex-direction: column; justify-content: center;
    }
}