<%= render 'form', promotion: @promotion, readonly: true %>
<% if @promotion.type == 'Coupon'%>
  <div class = "table-container">
  <div class = "table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>Coupon Code</th>
          <th>Reedemed</th>
          <th>Expiration date</th>
        </tr>
      </thead>
      <tbody>
        <% @coupon_instances.each do |ci| %>
          <tr>
            <td><%= ci.coupon_code %></td>
            <td>
              <%if ci.redeemed%>
                yes
              <%else%>
                no
              <%end%>
            </td>
            <td>
              <%=ci.instance_expiration_date%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  </div>
<% end%>

